[Unit]
Description=A one shot service run run stack.sh as stack at boot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ BASE }}/workshop/stack_service.sh start
ExecStop={{ BASE }}/workshop/stack_service.sh stop

[Install]
WantedBy=multi-user.target
